# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
pt1_df = "../WeatherPy/Cities_Output_JK.csv"
pt1_df = pd.read_csv(pt1_df)
pt1_df.head()

,Unnamed: 0,City,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,New Norfolk,-42.78,147.06,73.0,33,82,5.01,AU,1604965754
1,1,Teguise,29.06,-13.56,68.0,77,20,9.17,ES,1604965754
2,2,Lata,40.16,-8.33,59.0,91,2,1.72,PT,1604965754
3,3,Neuquén,-38.95,-68.06,73.4,46,75,10.29,AR,1604965754
4,4,Ushuaia,-54.80,-68.30,48.2,77,40,40.26,AR,1604965755

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=gkey)
locations = pt1_df[['Lat', 'Lon']].astype(float).round(3)

figure_layout = {
    'width': '600px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig1 = gmaps.figure(layout=figure_layout, map_type='ROADMAP')
heatmap_layer = gmaps.heatmap_layer(
    pt1_df[['Lat', 'Lon']], weights=pt1_df["Humidity"],
    max_intensity=.75, point_radius=3.5, dissipating=False
)
fig1.add_layer(heatmap_layer)
fig1

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
ideal_weather = pt1_df.copy()
ideal_weather = ideal_weather.loc[(ideal_weather['Temp Max']>65) & (ideal_weather['Temp Max']<80) & (ideal_weather['Wind Speed']<10) & (ideal_weather['Cloudiness'] == 0)]
ideal_weather["Hotel Name"]=""
ideal_weather.dropna(inplace=True)
ideal_weather

,Unnamed: 0,City,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
9,9,Ocampo,21.65,-101.50,65.55,32,0,6.40,MX,1604965756,
20,20,Kibala,9.11,18.35,73.40,83,0,1.12,TD,1604965759,
65,65,Dubbo,-32.25,148.62,71.60,49,0,8.05,AU,1604965764,
84,84,Qeshm,26.96,56.27,71.60,88,0,2.24,IR,1604965775,
103,103,Arlit,18.74,7.39,69.28,26,0,6.35,NE,1604965779,
117,117,Belmonte,-15.86,-38.88,77.00,78,0,9.17,BR,1604965783,
122,122,Comodoro Rivadavia,-45.87,-67.50,66.20,52,0,5.82,AR,1604965784,
126,126,Saint-Philippe,-21.36,55.77,71.60,78,0,9.17,RE,1604965785,
163,163,Canchungo,12.07,-16.03,78.80,94,0,4.70,GW,1604965795,
164,164,Sharjah city,25.36,55.40,77.00,83,0,5.82,AE,1604965795,
170,170,Taoudenni,22.68,-3.98,79.43,17,0,9.80,ML,1604965796,
175,175,Abu Dhabi,24.47,54.37,78.80,78,0,3.36,AE,1604965797,
200,200,Ténenkou,14.46,-4.92,75.87,18,0,6.62,ML,1604965804,
254,254,Salalah,17.02,54.09,75.20,57,0,3.36,OM,1604965614,
257,257,Kita,13.03,-9.49,76.30,30,0,4.72,ML,1604965817,
290,290,Kiryat Gat,31.61,34.76,66.99,80,0,1.12,IL,1604965680,
323,323,Siguiri,11.67,-9.50,75.51,32,0,1.95,GN,1604965832,
380,380,Kousséri,12.08,15.03,69.80,46,0,3.36,CM,1604965844,
383,383,Beloha,-25.17,45.05,71.91,63,0,6.42,MG,1604965845,
400,400,Riyadh,24.69,46.72,73.40,46,0,5.82,SA,1604965849,
409,409,Chiredzi,-21.05,31.67,77.58,54,0,7.61,ZW,1604965851,
429,429,Angoche,-16.23,39.91,77.25,81,0,8.75,MZ,1604965856,
435,435,Tezu,27.92,96.17,65.55,44,0,3.58,IN,1604965857,
443,443,Kouroussa,10.65,-9.88,73.29,36,0,0.81,GN,1604965859,
463,463,Saint-Pierre,-21.34,55.48,71.60,78,0,9.17,RE,1604965863,
485,485,Sur,22.57,59.53,74.41,72,0,1.54,OM,1604965870,
496,496,Rāzole,16.48,81.83,65.86,76,0,4.50,IN,1604965872,
508,508,San Luis de la Paz,21.30,-100.52,68.47,37,0,6.40,MX,1604965875,
511,511,Flinders,-34.58,150.86,69.01,62,0,5.01,AU,1604965876,
555,555,Najrān,17.49,44.13,66.20,37,0,0.58,SA,1604965888,
557,557,Mopti,14.67,-4.00,77.38,18,0,8.01,ML,1604965889,

In [5]:
import pprint as pp
nearby_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "key": gkey,
    "type": "hotel",
    "rankby": "distance",
}
params['location'] = ('-25.17, 45.05')
hotel_locations= requests.get(nearby_url,params=params).json()
pp.pprint(hotel_locations)

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [6]:
hotel_locations.keys()

dict_keys(['html_attributions', 'results', 'status'])

In [7]:
for index, row in ideal_weather.iterrows():
    lat = row['Lat']
    lon = row['Lon']
    params['location'] = ('{},{}'.format(lat, lon))
    hotel_locations= requests.get(nearby_url,params=params).json()

    if hotel_locations['status'] != "ZERO_RESULTS":  
        ideal_weather.loc[index, 'Hotel Name'] = hotel_locations['results'][0]['name']
        city_name = row["City"]
        country = row["Country"]
        hotel_name = hotel_locations['results'][0]['name']
        print('Hotel Found in {}, {}! Check out {}'.format(city_name,country, hotel_name))
    else: 
        pass

    
ideal_weather.head()

Hotel Found in Ocampo, MX! Check out Iglesia De San Juan Bosco
Hotel Found in Kibala, TD! Check out Poste police de Balimba
Hotel Found in Dubbo, AU! Check out ARTC
Hotel Found in Qeshm, IR! Check out مسجد عثمان بن عفان )ملاموسی(
Hotel Found in Arlit, NE! Check out مكن لشراء الذهب. محمد جبرين
Hotel Found in Belmonte, BR! Check out Fundação Educacional Pedro Calmon
Hotel Found in Comodoro Rivadavia, AR! Check out Gimnasio Municipal N 1
Hotel Found in Saint-Philippe, RE! Check out Le Palmier
Hotel Found in Canchungo, GW! Check out Casa Nasser
Hotel Found in Sharjah city, AE! Check out Alhamadi Building
Hotel Found in Taoudenni, ML! Check out Ksar de Smida
Hotel Found in Abu Dhabi, AE! Check out Eburn
Hotel Found in Ténenkou, ML! Check out Hopital
Hotel Found in Salalah, OM! Check out المديرية العامة للماليه
Hotel Found in Kita, ML! Check out Tamba Traorè
Hotel Found in Kiryat Gat, IL! Check out שדרות גת 88 קרית גת
Hotel Found in Kousséri, CM! Check out Sahara RealEstate
Hotel Found in Riyadh, SA! Check out سلطان سليمان للتبريد والتكييف
Hotel Found in Chiredzi, ZW! Check out Chiredzi Medical Centre
Hotel Found in Angoche, MZ! Check out Boy's guest house
Hotel Found in Tezu, IN! Check out IGG College Tezu
Hotel Found in Kouroussa, GN! Check out Hotel Tando Plus
Hotel Found in Saint-Pierre, RE! Check out Case à Pâtes
Hotel Found in Sur, OM! Check out Arabian Sea Motel
Hotel Found in Rāzole, IN! Check out Guest House
Hotel Found in San Luis de la Paz, MX! Check out Cristalez y Aluminios "La Paz"
Hotel Found in Flinders, AU! Check out Fire and Rescue NSW Shellharbour Fire Station
Hotel Found in Najrān, SA! Check out شنطة سفر
Hotel Found in Mopti, ML! Check out Tiaboly aldjouma

,Unnamed: 0,City,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
9,9,Ocampo,21.65,-101.50,65.55,32,0,6.40,MX,1604965756,Iglesia De San Juan Bosco
20,20,Kibala,9.11,18.35,73.40,83,0,1.12,TD,1604965759,Poste police de Balimba
65,65,Dubbo,-32.25,148.62,71.60,49,0,8.05,AU,1604965764,ARTC
84,84,Qeshm,26.96,56.27,71.60,88,0,2.24,IR,1604965775,مسجد عثمان بن عفان )ملاموسی(
103,103,Arlit,18.74,7.39,69.28,26,0,6.35,NE,1604965779,مكن لشراء الذهب. محمد جبرين

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_df = ideal_weather.copy()
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [9]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig1.add_layer(markers)
fig1

# Display figure

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…