# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
#import data from part 1
pt1_df = "../WeatherPy/Cities_Output_JK.csv"
pt1_df = pd.read_csv(pt1_df)
pt1_df.head()

,Unnamed: 0,City,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mataura,-46.19,168.86,57.99,72,0,8.01,NZ,1605062558
1,1,Marawi,8.00,124.29,82.99,77,100,3.00,PH,1605062558
2,2,Ilulissat,69.22,-51.10,5.97,92,80,1.48,GL,1605062558
3,3,Srednekolymsk,67.45,153.68,-8.37,90,86,10.09,RU,1605062559
4,4,Rikitea,-23.12,-134.97,73.44,79,9,20.09,PF,1605062559

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
#configure Gmaps

gmaps.configure(api_key=gkey)
locations = pt1_df[['Lat', 'Lon']].astype(float).round(3)

figure_layout = {
    'width': '600px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig1 = gmaps.figure(layout=figure_layout, map_type='ROADMAP')
heatmap_layer = gmaps.heatmap_layer(
    pt1_df[['Lat', 'Lon']], weights=pt1_df["Humidity"],
    max_intensity=.75, point_radius=3.5, dissipating=False
)
fig1.add_layer(heatmap_layer)
fig1

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
#narrow down data
ideal_weather = pt1_df.copy()
ideal_weather = ideal_weather.loc[(ideal_weather['Temp Max']>65) & (ideal_weather['Temp Max']<80) & (ideal_weather['Wind Speed']<10) & (ideal_weather['Cloudiness'] == 0)]
ideal_weather["Hotel Name"]=""
ideal_weather.dropna(inplace=True)
ideal_weather

,Unnamed: 0,City,Lat,Lon,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
6,6,Pāsighāt,28.07,95.33,76.89,44,0,1.57,IN,1605062559,
21,21,Batemans Bay,-35.72,150.18,79.00,50,0,3.00,AU,1605062563,
23,23,Saint-Philippe,-21.36,55.77,73.40,60,0,5.82,RE,1605062563,
50,50,Salalah,17.02,54.09,75.20,78,0,2.24,OM,1605062569,
63,63,Kpandu,7.00,0.29,74.86,88,0,5.66,GH,1605062572,
73,73,Santa Maria,-29.68,-53.81,68.00,82,0,2.24,BR,1605062575,
111,111,Álamos,27.02,-108.93,66.99,54,0,3.69,MX,1605062583,
129,129,Marsá Maţrūḩ,31.35,27.25,65.98,59,0,9.19,EG,1605062587,
141,141,Longyan,25.11,117.02,71.01,38,0,3.00,CN,1605062589,
170,170,Abu Dhabi,24.47,54.37,77.00,88,0,2.24,AE,1605062596,
172,172,Córdoba,-31.41,-64.18,68.00,87,0,5.82,AR,1605062400,
179,179,Tezu,27.92,96.17,78.64,39,0,1.79,IN,1605062598,
189,189,Taoudenni,22.68,-3.98,75.11,20,0,8.52,ML,1605062600,
193,193,Kot Diji,27.34,68.71,71.92,21,0,7.20,PK,1605062601,
204,204,Douentza,15.00,-2.95,70.54,23,0,3.67,ML,1605062603,
232,232,Tombouctou,20.00,-3.00,76.30,19,0,9.48,ML,1605062610,
247,247,Xiangxiang,27.73,112.53,67.93,44,0,4.81,CN,1605062552,
272,272,Jonuta,18.08,-92.13,70.32,86,0,3.29,MX,1605062618,
295,295,Saint-Joseph,-21.37,55.62,73.40,60,0,5.82,RE,1605062623,
332,332,Dakar,14.69,-17.44,77.00,88,0,5.82,SN,1605062495,
334,334,Yichang,30.71,111.28,70.02,36,0,2.21,CN,1605062631,
356,356,Sārangpur,23.57,76.47,68.07,32,0,3.44,IN,1605062635,
386,386,Tura,25.52,90.22,75.63,57,0,1.52,IN,1605062642,
394,394,Pano Aqil,27.86,69.11,70.02,22,0,7.56,PK,1605062644,
407,407,Sur,22.57,59.53,74.80,67,0,1.92,OM,1605062647,
426,426,Saint-Pierre,-21.34,55.48,73.40,60,0,5.82,RE,1605062652,
432,432,Hurghada,27.26,33.81,68.00,37,0,6.93,EG,1605062653,
442,442,Gambēla,8.25,34.58,70.16,77,0,3.74,ET,1605062655,
448,448,Santarém,-2.44,-54.71,78.80,94,0,4.70,BR,1605062656,
456,456,Khanpur,28.65,70.66,70.00,22,0,6.93,PK,1605062658,
464,464,Beloha,-25.17,45.05,72.12,88,0,5.41,MG,1605062659,
508,508,Xiangfan,32.04,112.14,66.31,37,0,4.56,CN,1605062669,
509,509,Guangzhou,23.12,113.25,73.99,33,0,8.95,CN,1605062520,
527,527,Youkounkoun,12.53,-13.13,73.20,47,0,2.64,GN,1605062673,
534,534,Ampanihy,-24.70,44.75,72.75,84,0,4.90,MG,1605062674,
560,560,Tsaratanana,-16.78,47.65,70.61,66,0,8.25,MG,1605062679,
562,562,Santa Fe,-31.63,-60.70,71.01,61,0,9.08,AR,1605062680,
566,566,Dzaoudzi,-12.79,45.27,78.80,78,0,6.93,YT,1605062681,

In [15]:
#look at JSON return data
import pprint as pp
nearby_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "key": gkey,
    "type": "hotel",
    "rankby": "distance",
}
params['location'] = ('-25.17, 45.05')
hotel_locations= requests.get(nearby_url,params=params).json()
pp.pprint(hotel_locations)

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [16]:
hotel_locations.keys()

dict_keys(['html_attributions', 'results', 'status'])

In [17]:
#itterate over rows and get data about all of these locations, add a hotel column and capture hotel info
for index, row in ideal_weather.iterrows():
    lat = row['Lat']
    lon = row['Lon']
    params['location'] = ('{},{}'.format(lat, lon))
    hotel_locations= requests.get(nearby_url,params=params).json()

    if (hotel_locations['status'] != "ZERO_RESULTS") | (hotel_locations['status'] != "UNKNOWN_ERROR"):  
        ideal_weather.loc[index, 'Hotel Name'] = hotel_locations['results'][0]['name']
        city_name = row["City"]
        country = row["Country"]
        hotel_name = hotel_locations['results'][0]['name']
        print('Hotel Found in {}, {}! Check out {}'.format(city_name,country, hotel_name))
    else: 
        pass

    
ideal_weather.head()

Hotel Found in Pāsighāt, IN! Check out Power Grid Corporation of India,Pasighat Office
Hotel Found in Batemans Bay, AU! Check out Batemans Bay Marine
Hotel Found in Saint-Philippe, RE! Check out Le Palmier
Hotel Found in Salalah, OM! Check out المديرية العامة للماليه
Hotel Found in Kpandu, GH! Check out Edem,s Store
Hotel Found in Santa Maria, BR! Check out Marcia Glass Design Interiores
Hotel Found in Álamos, MX! Check out Taller electromecánico Robles
Hotel Found in Marsá Maţrūḩ, EG! Check out كابيتانو لخدمات التليفون المحمول
Hotel Found in Longyan, CN! Check out Shuqishi Sofa Mattress Factory
Hotel Found in Abu Dhabi, AE! Check out Eburn
Hotel Found in Córdoba, AR! Check out Hosteria Rivadavia
Hotel Found in Tezu, IN! Check out IGG College Tezu
Hotel Found in Taoudenni, ML! Check out Ksar de Smida
Hotel Found in Kot Diji, PK! Check out Babe Zainabia (s.a)
Hotel Found in Douentza, ML! Check out Boutique GUINDO

IndexError: list index out of range

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_df = ideal_weather.copy()
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [9]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig1.add_layer(markers)
fig1

# Display figure

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…